html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    display: flex;
    background-color: white;
    min-height: 150px;
}
.nome-clinica h1{
    margin-left: 200px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    display: flex;
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}
.social ul li a{
    color:white;
}
table{
    border-radius: 10px solid;
}
table .tabela-horarios{
    color:white;
    background-color: black;
}
.conteudo-principal{
    display: flex;
}
.conteudo{
    display: flex;
    width: 300px;
}